.header {
    height: auto;
    min-height: calc(55vh + 100px);
    background-image: linear-gradient(to bottom right, #d90429, transparent),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://source.unsplash.com/HlNcigvUi4Q");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    text-align: center;
    color: white;
}

.title {
    font-size: clamp(30px, max(5vh, 5vw), 50px);
    font-weight: normal;
}

.logo {
    font-size: clamp(30px, 10vh, 40px);
}

@media screen and (min-width: 50rem) {
    .header {
        padding: 30px 70px;
    }
} ;
