.body {
    padding: 30px clamp(10px, 10%, 100px);
    margin: 0;
}

.deliver {
    background: linear-gradient(to bottom right, #d90429, transparent),
        linear-gradient(to bottom, #ff9fb2, #ef233c);
    color: #edf2f4;
    width: 85%;
    margin: 40px auto;
    border-radius: 5px;
}
