:root {
    --header-font: "Yellowtail", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    font-size: clamp(16px, 3vh, 20px);
}

h1 {
    margin: 0;
    font-size: 2.3rem;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #ff9fb2;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
